.main-container {
    border: 5px solid #000000;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    display: block;
}

section {
    border: 2px solid #333333;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

.profil { 
    border-color: #6c757d
}

.playlist { 
    border-color: #007bff
}

.catalogue { 
    border-color: #28a745 
}

body {
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
}